@use "@material/typography";

mwc-top-app-bar {
    --mdc-theme-primary: black;
}

.card {
    margin-bottom: 10px;
}

.card__title {
    @include typography.typography(headline1);
    position: sticky;
    top: 0;
    margin: 0;
    padding: 0.83em 0;
    background: #fff;
}
